<!DOCTYPE html>
<html>
  <head>
    <% if(htmlWebpackPlugin.options.params.env != 'production') { %>
      <title>
        <%= htmlWebpackPlugin.options.params.title %>
      </title>
    <% } %>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <!-- <script src=http://192.168.3.149:8180/js/basicData></script> -->
    <% if(htmlWebpackPlugin.options.params.env === 'production') {%>
      <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.params.staticUrl%>/css/antd.min.css"/>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/vendor.js"></script>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/jquery-1.6.4.min.js"></script>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/ueditor/ueditor.config.js" defer=true></script>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/ueditor/ueditor.all.js" defer=true></script> -->
    <% }else{ %>
      <!--  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.params.staticUrl%>/css/antd.min.css"/> -->
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/vendor.js"></script>
      <!-- <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/jquery-1.6.4.min.js"></script>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/ueditor/ueditor.config.js" defer=true></script>
      <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/ueditor/ueditor.all.js" defer=true></script> --> 
    <% } %>
  </head>

  <!-- <script src=./libs/feather.js></script> -->
  <% if(htmlWebpackPlugin.options.params.env != 'production') {%>
    <body>
      <div id="root"></div>
    </body>
  <% } %>

</html>
